<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Organizor</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">
      <% u = current_user %>
      <div class="top-banner">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <h1 class="text-left">Organizor</h1>
            </div>
            <div class="col-md-3 profile">
              <div class="col-md-3">
                <%= image_tag((u.image ? u.image_url : "/images/icons/user.png"), {width: "40", height: "40", class: "img-rounded"}) %>
              </div>
              <div class="col-md-9">
                <small><%= u.first_name.titleize rescue "Mr. Unknown" %></small>
                <small class="block">Logout</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Begin page content -->
      <div class="container main">
        <div class="row">
          <div class="col-md-2 left-nav">
            <ul class="nav nav-pills nav-stacked">
              <li class="disabled"><%= link_to "#" do %><span class="glyphicon glyphicon-th"></span>Dashboard<% end %></li>
              <li><%= link_to enquiries_path  do %><span class="glyphicon glyphicon-earphone"></span>Enquiries<% end %></li>
              <li><%= link_to registrations_path do %><span class="glyphicon glyphicon-pencil"></span>Registration<% end %></li>
              <li class="disabled"><%= link_to "#" do %><span class="glyphicon glyphicon-book"></span>Accounts<% end %></li>
              <li class="disabled"><%= link_to "#" do %><span class="glyphicon glyphicon-euro"></span>Contracts<% end %></li>
              <li><%= link_to emails_path do %><span class="glyphicon glyphicon-envelope"></span>Emails<% end %></li>
              <li><%= link_to "/follow_ups" do %><span class="glyphicon glyphicon-calendar"></span>Calender<% end %></li>
              <li class="disabled"><%= link_to "#" do %><span class="glyphicon glyphicon-stats"></span>Reports<% end %></li>
              <li><%= link_to todos_path do %><span class="glyphicon glyphicon-check"></span>Todos<% end %></li>
              <li><%= link_to "/user_configs/#{current_user.conf.id}/edit" do %><span class="glyphicon glyphicon-wrench"></span>Settings<% end %></li>
              <li class="active">
                <% if u.role?(:agency_administrator) %>
                  <%= link_to "/users" do %><span class="glyphicon glyphicon-user"></span>Users<% end %>
                <% else %>
                  <%= link_to "/users/#{current_user.id}" do %><span class="glyphicon glyphicon-user"></span>Me<% end %>
                <% end %>
              </li>
              <li><%= link_to "programme_types" do %><span class="glyphicon glyphicon-list"></span>Configuration<% end %></li>
            </ul>
          </div>
          <div class="col-md-10">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-right"><small><em>Organizor © 2013</em></small></p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery-1.10.2.min.js"></script>
  </body>
</html>
